{% extends 'userprofile/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block body %} 
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Hall</p>
              <h5 class="font-weight-bolder">
                127
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+55%</span>
                since yesterday
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Faculty Member</p>
              <h5 class="font-weight-bolder">
                300
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+3%</span>
                since last week
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
              <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Students</p>
              <h5 class="font-weight-bolder">
                +13,462
              </h5>
              <p class="mb-0">
                <span class="text-danger text-sm font-weight-bolder">-2%</span>
                clearnec is done
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
              <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Collection</p>
              <h5 class="font-weight-bolder">
                103,430
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">55000</span> added &
                <span class="text-danger text-sm font-weight-bolder">26000</span> pending  
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Halls Details In Tabular Form</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead> 
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">SL</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Hall ID</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Hall Name</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Residence Type</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Provost Name</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Contact Email</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Starting Date</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">*</th>  
                
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">01</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M01</span>
                </td> 
                <td class="align-middle  text-sm">
                  <span class="badge badge-sm bg-gradient-success">Shaheed Aziz Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle  text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Md. Syduzzaman</span>
                </td>
                <td class="align-middle  text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle   text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">02</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M02</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">M A G Osmani Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Samiul Islam</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
               
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">03</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M03</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Syed Nazrul Islam Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Ahmed Jalal Uddin</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">04</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">F01</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Sheikh Hasina Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Female</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Hasina Akter</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>  

              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">03</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M03</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Syed Nazrul Islam Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Ahmed Jalal Uddin</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">04</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">F01</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Sheikh Hasina Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Female</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Hasina Akter</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr> 
               
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Faculty Member Details In Tabular Form</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-hover align-items-center mb-0">
            <thead> 
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">SL</th> 
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Designation</th>                          
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Department</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Phone</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Email Address</th>  
              </tr>
            </thead>
            <tbody>
              {% for fm in fmember %}  
                  <tr> 
                      <td class="align-middle text-sm">
                        <span class="text-secondary text-xs font-weight-bold mx-3">{{ fm.member_id }}</span>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-secondary text-xs font-weight-bold">{{ fm.designation }}</span>
                      </td> 
                      <td class="align-middle  text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{ fm.name }}</span>
                      </td>
                      <td class="align-middle text-sm"> 
                        <span class="text-secondary text-xs font-weight-bold">{{ fm.department }}</span>
                      </td>
                      <td class="align-middle  text-sm">
                        <span class="text-secondary text-xs font-weight-bold">{{ fm.phone }}</span>
                      </td>
                      <td class="align-middle  text-sm">
                        <span class="text-secondary text-xs font-weight-bold">{{ fm.email_address }}</span>
                      </td>                       
                  </tr>  
              {% endfor %}                                                   
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div> 
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-0">Categories</h6>
      </div>
      <div class="card-body p-3">
        <ul class="list-group">
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                <i class="ni ni-mobile-button text-white opacity-10"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">Devices</h6>
                <span class="text-xs">250 in stock, <span class="font-weight-bold">346+ sold</span></span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
            </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                <i class="ni ni-tag text-white opacity-10"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">Tickets</h6>
                <span class="text-xs">123 closed, <span class="font-weight-bold">15 open</span></span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
            </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                <i class="ni ni-box-2 text-white opacity-10"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">Error logs</h6>
                <span class="text-xs">1 is active, <span class="font-weight-bold">40 closed</span></span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
            </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                <i class="ni ni-satisfied text-white opacity-10"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">Happy users</h6>
                <span class="text-xs font-weight-bold">+ 430</span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 

<div class="row mt-4">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Halls Details In Tabular Form</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-hover align-items-center mb-0">
            <thead> 
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">SL</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Hall ID</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Hall Name</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Residence Type</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Provost Name</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Contact Email</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Starting Date</th>  
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">*</th>  
                
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">01</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M01</span>
                </td> 
                <td class="align-middle  text-sm">
                  <span class="badge badge-sm bg-gradient-success">Shaheed Aziz Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle  text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Md. Syduzzaman</span>
                </td>
                <td class="align-middle  text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle   text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">02</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M02</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">M A G Osmani Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Samiul Islam</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
               
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">03</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M03</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Syed Nazrul Islam Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Ahmed Jalal Uddin</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">04</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">F01</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Sheikh Hasina Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Female</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Hasina Akter</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>  

              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">03</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">M03</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Syed Nazrul Islam Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Male</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Ahmed Jalal Uddin</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr>
              
              <tr> 
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold mx-3">04</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">F01</span>
                </td> 
                <td class="align-middle text-sm">
                  <span class="badge badge-sm bg-gradient-success">Sheikh Hasina Hall</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Female</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Dr. Hasina Akter</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">syduzzaman@butex.edu.bd</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">25.04.2011</span>
                </td>
                <td class="align-middle text-sm">
                  <span class="text-secondary text-xs font-weight-bold">Details</span>
                </td>
              </tr> 
               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}  